/* 
 * style.css
 * Place custom CSS code here
 */
 
.content {
  text-align: left;
}

#pagetpl-wrapper {
	position: relative;
}
 
.profile {
	margin: 0 0 1em;
}

div.profile > :first-child {
	margin-top: 0;
}

.form-item, .form-actions {
	margin-top: 0;
}

#page-title:first-letter {
    text-transform: uppercase;
}