/* 
 * style.css
 * Place custom CSS code here
 */
 
.profile {
	margin: 0 0 1em;
}

	div.profile > :first-child {
		margin-top: 0;
	}

#page-title:first-letter {
    text-transform: uppercase;
}